
main{
   >section{ 
        >form{
            display: flex;
            flex-direction: column;
            >textarea#txt_mensaje{
                min-height: 10rem;
            }
        }
    }
}