#seccion_aaaaaaaaaaaa {
    > aaaaaaaaaaaaaaaaaaaaa{
        padding: .5em;
        border: 0.1em solid var(--borde);
        border-radius: 0.5em;
        background-color: var(--article-bg);
        box-shadow: 0 0 20px var(--sombraMenor);
        /*margin: .5em;*/
    }
}