@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

/* === TEXTO GRANDE === */
body {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-size: 1.4em;
  line-height: 1.8;
}

h1,
h2,
h3 {
  font-weight: 700;
}

button,
input {
  font-size: 1em;
}
input#ciudad{
 width: 9rem;
}