/* === MODO NOCHE === */
:root {
  --btn: #00c8c3;
  --btn-blanco: #3a3a3a;
  --btn-enfoque: #2dc9ff;
  --btn-blancoEnfoque: #555555;
  --btn-sombra: #00000080;
  --btn-sombraClaro: #aaaaaa;

  --header-bg: #111111;
  --body-bg: #121212;
  --body-bg2: #1a1a1a;
  --section-bg: #1e1e1e;
  --article-bg: #252525;
  --footer-bg: #0d0d0d;
  --card: #1c1c1c;

  --txt-h: #f5f5f5;
  --txt-principal: #eaeaea;
  --txt-secundario: #bdbdbd;
  --txt-claro: #ffffff;
  --txt-claroEnfoque: #00fff2;

  --mns-exito: #00b894;
  --mns-aviso: #fff82b;
  --mns-error: #ff4757;

  --borde: #ffffff33;
  --sombra: #ffffff22;
  --sombraMenor: #ffffff11;
  --subrayado: #00fff240;
}

img {
  filter: brightness(0.9);
}